<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576396770346-2isv1ek16t6ncfnhr8dotgqn8nrcarn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576396770346-2isv1ek16t6ncfnhr8dotgqn8nrcarn2</string>
	<key>API_KEY</key>
	<string>AIzaSyCJHaglzw_VV9sBYmxBdhfH3FHptBJer3k</string>
	<key>GCM_SENDER_ID</key>
	<string>576396770346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caloriTracker</string>
	<key>PROJECT_ID</key>
	<string>calori-tracker-c2f3e</string>
	<key>STORAGE_BUCKET</key>
	<string>calori-tracker-c2f3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576396770346:ios:9dc763ec16ff8751f29753</string>
</dict>
</plist>